.agregar-ejercicio-root {
  align-items: flex-end;
}

#agregar-ejercicio-componente {
  width: 100%;
}

:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

:host {
  transition: transform 400ms ease-in;
  transform: translateY(100%);
}

:host(.isVisible) {
  transform: translateY(0);
}

input {
  border: none;
  background-color: var(--border-color);
  border-radius: var(--border-radius);
  width: 100%;
  padding: 0.5rem;
}

.exercises-container {
  gap: 1rem;
}

.exercises-container > * {
  padding: 1rem;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close {
  padding: 0.5rem;
  font-weight: var(--black-weight);
  cursor: pointer;
  border-radius: var(--border-radius);
}

.close:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
