<agregar-ejercicios
  class="show-component"
  (close)="isExerciseComponentVisible = modalToggler.closeModal()"
  [class.isVisible]="isExerciseComponentVisible"
></agregar-ejercicios>
<div class="flex-column wrapper">
  <section class="bienvenida">
    <div class="mensaje-bienvenida">Bienvenido, <span>Usuario</span></div>
    <div class="foto-perfil">
      <img src="/stock-profile/drose.jpg" alt="" />
    </div>
  </section>
  <section class="entrenamiento flex-column">
    <h2>Entrenamiento</h2>
    <div class="grupos-musculares-principales">
      <button>Pierna</button>
      <button>Brazo</button>
      <button>Espalda</button>
      <button>Hombro</button>
      <button>Abdomen</button>
    </div>
    <div class="musculo-seleccionado flex-column">
      <h3>Pierna</h3>
      <div class="rutinas-musculo flex-column">
        <div class="rutina">
          <div class="img-wrapper">
            <img src="/routine-images/piernas/piernas_atl.jpg" alt="" />
          </div>
          <div class="right">
            <div class="dificultad-ejercicios flex-column">
              <span>Fácil</span>
              <span>20 ejercicios</span>
            </div>
            <div class="iconos">
              <img src="/edit-delete-icons/icons8-edit-48.png" alt="" />
              <img src="/heart.png" alt="" />
            </div>
          </div>
        </div>
        <div class="rutina">
          <div class="img-wrapper">
            <img src="/routine-images/piernas/piernas_casi_musculosas.jpg" alt="" />
          </div>
          <div class="right">
            <div class="dificultad-ejercicios flex-column">
              <span>Media</span>
              <span>30 ejercicios</span>
            </div>
            <div class="iconos">
              <img src="/edit-delete-icons/icons8-edit-48.png" alt="" />
              <img src="/heart.png" alt="" />
            </div>
          </div>
        </div>
        <div class="rutina">
          <div class="img-wrapper">
            <img src="/routine-images/piernas/piernas_gym.jpg" alt="" />
          </div>
          <div class="right">
            <div class="dificultad-ejercicios flex-column">
              <span>Difícil</span>
              <span>35 ejercicios</span>
            </div>
            <div class="iconos">
              <img src="/edit-delete-icons/icons8-edit-48.png" alt="" />
              <img src="/heart.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="labels">
      <button class="gray-outline-button">HIIT</button>
      <button class="gray-outline-button">Fácil</button>
      <button class="gray-outline-button">Difícil</button>
      <button class="gray-outline-button">Intermedio</button>
      <button class="gray-outline-button">Estiramiento</button>
    </div>
    <div class="metas-populares flex-column">
      <h2>Metas populares</h2>
      <div class="metas-populares-labels">
        <button class="gray-outline-button">Aumentar masa</button>
        <button class="gray-outline-button">Mantener condición física</button>
        <button class="gray-outline-button">Quemar calorías</button>
      </div>
      <div class="rutinas-metas-populares flex-column">
        <div class="rutina">
          <div class="img-wrapper">
            <img src="/routine-images/metas-populares/musculoso.jpg" alt="" />
          </div>
          <div class="right">
            <div class="dificultad-ejercicios flex-column">
              <span>Ganar músculo</span>
              <span>15 ejercicios</span>
            </div>
            <div class="iconos">
              <img src="/edit-delete-icons/icons8-edit-48.png" alt="" />
              <img src="/heart.png" alt="" />
            </div>
          </div>
        </div>
        <div class="rutina">
          <div class="img-wrapper">
            <img src="/routine-images/metas-populares/persona corriendo.jpg" alt="" />
          </div>
          <div class="right">
            <div class="dificultad-ejercicios flex-column">
              <span>Quemar calorías</span>
              <span>20 ejercicios</span>
            </div>
            <div class="iconos">
              <img src="/edit-delete-icons/icons8-edit-48.png" alt="" />
              <img src="/heart.png" alt="" />
            </div>
          </div>
        </div>
        <div class="rutina">
          <div class="img-wrapper">
            <img src="/routine-images/metas-populares/flexiones.jpg" alt="" />
          </div>
          <div class="right">
            <div class="dificultad-ejercicios flex-column">
              <span>Matener condición</span>
              <span>20 ejercicios</span>
            </div>
            <div class="iconos">
              <img src="/edit-delete-icons/icons8-edit-48.png" alt="" />
              <img src="/heart.png" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="programas-ejercicio flex-column">
        <h2>Prueba nuestros programas</h2>
        <div class="programas-ejercicios-slider">
          <div class="programa-flexibilidad">
            <h3>Programa de flexibilidad</h3>
            <button>Probar</button>
          </div>
          <div class="programa-fuerza">
            <h3>Programa de fuerza</h3>
            <button>Probar</button>
          </div>
          <div class="programa-fuerza-sin-equipo">
            <h3>Programa de fuerza sin equipamiento</h3>
            <button>Probar</button>
          </div>
          <div class="programa-cardio">
            <h3>Programa de cardio</h3>
            <button>Probar</button>
          </div>
        </div>
      </div>
      <div class="crear-rutina flex-column">
        <h2>¿No encuentras lo que buscas?</h2>
        <span>Crea tu propia rutina</span>
        <div>
          <button (click)="isExerciseComponentVisible = modalToggler.showModal()">Crear</button>
        </div>
      </div>
    </div>
  </section>
</div>
