<div class="navbar-wrapper">
  <div style="display: none" class="title">
    <h1>FITAPP</h1>
    <div class="hamburger-button" (click)="isMenuVisible = modalToggler.toggleModal(isMenuVisible)">
      <img src="icons8-hamburger-menu-50.png" alt="" />
    </div>
  </div>
  <menu-movil
    class="mobile-menu"
    [class.isVisible]="isMenuVisible"
    (linkClicked)="isMenuVisible = modalToggler.closeModal()"
  ></menu-movil>
  <div class="icons-wrapper flex-column">
    <div class="icons flex-column">
      <div (click)="navigation.toHome()">
        <img src="images/navbar-icons/icons8-home-50.png" alt="" />
      </div>
      <div (click)="navigation.toStats()">
        <img src="images/navbar-icons/icons8-statistics-60.png" alt="" />
      </div>
      <div (click)="navigation.toMyRoutines()">
        <img src="images/navbar-icons/icons8-dumbell-64(1).png" alt="" />
      </div>
      <div (click)="navigation.toGoals()">
        <img src="images/navbar-icons/icons8-goal-50.png" alt="" />
      </div>
      <div (click)="navigation.toNotes()">
        <img src="images/navbar-icons/icons8-notes-50.png" alt="" />
      </div>
      <div (click)="navigation.toProfile()">
        <img src="images/navbar-icons/icons8-profile-52.png" alt="" />
      </div>
      <div (click)="navigation.toAchievements()">
        <img src="images/navbar-icons/icons8-trophy-52.png" alt="" />
      </div>
      <div (click)="navigation.toFavorites()">
        <img src="images/navbar-icons/icons8-heart-52.png" alt="" />
      </div>
      <div (click)="navigation.toHistory()">
        <img src="images/navbar-icons/icons8-history-52.png" alt="" />
      </div>
      <div (click)="navigation.toFeed()">
        <img src="images/navbar-icons/icons8-explore-50.png" alt="explore-icon" />
      </div>
    </div>
    <div class="logout-button" (click)="navigation.logout()">
      <img src="images/navbar-icons/icons8-log-out-64.png" alt="" />
    </div>
  </div>
</div>
