<div class="modal-wrapper">
  <div class="modal-component flex-column">
    <header class="flex-between">
      <h3>Comentarios (10)</h3>
      <button class="close-button" (click)="onCloseButtonClick()">X</button>
    </header>
    <section class="user-comments flex-column">
      <comment-component></comment-component>
      <comment-component></comment-component>
      <comment-component></comment-component>
      <comment-component></comment-component>
      <comment-component></comment-component>
      <comment-component></comment-component>
      <comment-component></comment-component>
      <comment-component></comment-component>
      <comment-component></comment-component>
      <comment-component></comment-component>
    </section>
    <div class="input-wrapper">
      <input type="text" placeholder="Escribe un comentario" style="margin-right: 0.5rem" />
      <button class="default-button">Comentar</button>
    </div>
  </div>
</div>
