<div class="modal-wrapper">
  <div class="modal-component flex-column logros-modal-component">
    <header class="flex-between">
      <h3 class="blue-font-color">Logros</h3>
      <button class="close-button" (click)="onCloseButtonClick()">X</button>
    </header>
    <div>
      <span class="numero-logros">3/30</span>
    </div>
    <div class="logros-wrapper flex-column">
      <logro-preview></logro-preview>
      <logro-preview></logro-preview>
      <logro-preview></logro-preview>
      <logro-preview></logro-preview>
      <logro-preview></logro-preview>
    </div>
  </div>
</div>
