<div class="flex-column" id="profile-wrapper">
  <div class="foto-portada">
    <div class="foto-perfil">
      <img src="/stock-profile/drose.jpg" alt="" />
    </div>
  </div>
  <div class="flex-column user-info">
    <div class="nombre-usuario">
      <h2>Usuario</h2>
    </div>
    <div class="nivel-wrapper" style="display: flex; gap: 1rem">
      <div class="nivel">Intermedio</div>
      <button class="default-button">Editar perfil</button>
    </div>
    <div class="profile-grid">
      <div class="flex-column informacion-personal">
        <h3>Información personal</h3>
        <div class="altura">
          <span><strong>Altura</strong></span>
          <span><strong>188 cm</strong></span>
        </div>
        <div class="peso">
          <span><strong>Peso</strong></span>
          <span><strong>80 kg</strong></span>
        </div>
      </div>
      <div class="flex-column progreso-nivel">
        <h3>Progreso del nivel</h3>
        <div class="flex-column progress-bar">
          <div class="nivel-porcentaje" style="display: flex; justify-content: space-between">
            <span><strong>Nivel intermedio</strong></span>
            <span><strong>75%</strong></span>
          </div>
          <div class="progress-bar-component"></div>
          <div class="puntos-faltantes">
            <span>Buen trabajo, necesitas 25 puntos mas para el siguiente nivel</span>
          </div>
        </div>
      </div>
      <div class="resumen-logros">
        <div
          class="logros-header"
          style="
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1rem;
          "
        >
          <h3>Logros</h3>
          <span class="logros completados">3/30</span>
        </div>
        <div class="logros-wrapper flex-column" style="gap: 1rem">
          <div class="logros-component" style="display: flex; gap: 1rem; align-items: center">
            <img src="/achievements-icons/gym.png" alt="" style="width: 30px; height: 30px" />
            <div class="logro-info" style="display: flex; flex-direction: column">
              <span><strong>Primera meta</strong></span>
              <span class="descripcion">Completa tu primer entrenamiento</span>
              <span class="fecha-desbloqueo">31/01/22</span>
            </div>
          </div>
          <div class="logros-component" style="display: flex; gap: 1rem; align-items: center">
            <img src="/achievements-icons/gym.png" alt="" style="width: 30px; height: 30px" />
            <div class="logro-info" style="display: flex; flex-direction: column">
              <span><strong>Primera meta</strong></span>
              <span class="descripcion">Completa tu primer entrenamiento</span>
              <span class="fecha-desbloqueo">31/01/22</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
