<div class="wrapper">
  <cabecera
    titulo="Publicar rutina"
    descripcion="Comparte tu rutina para que los demás puedan utilizarla"
  ></cabecera>
  <div class="flex-column publicar-rutina" style="margin-top: 1rem">
    <div class="input-wrapper flex-column">
      <label for="" class="blue-font-color">Encabezado de la publicación</label>
      <input type="Encabezado de la publicación" />
    </div>
    <div class="input-wrapper flex-column">
      <label for="" class="blue-font-color">Cuerpo de la publicación</label>
      <textarea placeholder="Cuerpo de la publicación"></textarea>
    </div>
    <div class="input-wrapper flex-column">
      <label for="" class="blue-font-color">Rutina seleccionada</label>
      <select>
        <option value="rutina-seleccionada">Rutina seleccionada</option>
      </select>
    </div>
    <div class="buttons" style="display: flex; gap: 0.5rem; max-width: 500px">
      <button class="default-button" style="flex: 1">Publicar</button>
      <button class="default-button" style="flex: 1">Cancelar</button>
    </div>
  </div>
</div>
