<div class="flex-column wrapper">
  <cabecera
    titulo="Creación de rutina"
    descripcion="Crea una rutina acorde a tus necesidades"
  ></cabecera>
  <div class="nueva-rutina-componente flex-column">
    <div>
      <input type="text" placeholder="Nombre de la rutina" />
    </div>
    <header class="flex-between">
      <span>Ejercicios (8)</span>
      <button class="default-button">Agregar</button>
    </header>
    <div class="exercises flex-column">
      <exercise-preview></exercise-preview>
      <exercise-preview></exercise-preview>
      <exercise-preview></exercise-preview>
      <exercise-preview></exercise-preview>
      <exercise-preview></exercise-preview>
      <exercise-preview></exercise-preview>
    </div>
    <div>
      <button class="default-button guardar">Guardar</button>
    </div>
  </div>
</div>
