input,
textarea {
  border-radius: var(--border-radius);
  border: none;
  padding: 0.5rem 1rem;
  border: 1px solid var(--border-color);
}

textarea {
  min-height: 250px;
  resize: none;
}

.modal-notas-component-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.close-button {
  font-weight: var(--black-weight);
  box-sizing: border-box;
  cursor: pointer;
}
