<cambiar-usuario [FullscreenOverlay]="isChangeUsernameModalVisible"></cambiar-usuario>
<cambiar-contrasena [FullscreenOverlay]="isChangePasswordModalVisible"></cambiar-contrasena>
<edit-profile-modal
  [FullscreenOverlay]="isEditProfileModalVisible"
  (onCloseButtonClick)="isEditProfileModalVisible = modalToggler.closeModal()"
></edit-profile-modal>
<modal-info-personal
  [FullscreenOverlay]="isChangeUserInfoVisible"
  (closeButtonClick)="isChangeUserInfoVisible = modalToggler.closeModal()"
></modal-info-personal>
<modal-logros-usuario
  [FullscreenOverlay]="isAchievementsModalVisible"
  (closeButtonClick)="isAchievementsModalVisible = modalToggler.closeModal()"
></modal-logros-usuario>
<cambiar-contrasena
  [FullscreenOverlay]="isChangePasswordModalVisible"
  (closeButtonClick)="isChangePasswordModalVisible = modalToggler.closeModal()"
></cambiar-contrasena>
<div class="flex-column" id="profile-wrapper">
  <div class="foto-portada">
    <div class="foto-perfil">
      <img src="/frog.jpg" alt="user-pfp" />
    </div>
  </div>
  <div class="flex-column user-info">
    <div class="nombre-usuario">
      <h2>Usuario</h2>
    </div>
    <div class="nivel-wrapper" style="display: flex; flex-wrap: wrap">
      <div class="nivel" id="nivel">Intermedio</div>
      <button class="default-button" (click)="isEditProfileModalVisible = modalToggler.showModal()">
        Editar perfil
      </button>
      <div class="more-icon" style="display: flex; flex-wrap: wrap">
        <img src="/etc/icons8-more-64.png" alt="more-icon" />
        <div
          class="opciones flex-column"
          style="display: block"
          (click)="isChangePasswordModalVisible = modalToggler.showModal()"
        >
          <button>Cambiar contraseña</button>
        </div>
      </div>
    </div>
    <div class="miembro-racha" id="miembro-racha">
      <div class="flex-column miembro-desde">
        <span class="blue-font-color">Miembro desde el</span>
        <span>15 abr 25</span>
      </div>
      <div class="racha flex-column">
        <span class="blue-font-color">Mejor racha</span>
        <span>5 días</span>
      </div>
    </div>
    <div class="bio">
      <h3 class="blue-font-color">Acerca de</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, cupiditate! Fuga corrupti
        quae expedita incidunt autem ut, obcaecati tempore consequatur eum cupiditate quam error
        commodi maiores, dolore sit explicabo reprehenderit.
      </p>
    </div>
    <div class="profile-grid">
      <div class="flex-column informacion-personal">
        <div class="flex-between">
          <h3>Información personal</h3>
          <button
            class="default-button"
            (click)="isChangeUserInfoVisible = modalToggler.showModal()"
          >
            Editar
          </button>
        </div>
        <div class="altura">
          <span><strong>Altura</strong></span>
          <span><strong>188 cm</strong></span>
        </div>
        <div class="peso">
          <span><strong>Peso</strong></span>
          <span><strong>80 kg</strong></span>
        </div>
      </div>
      <div class="flex-column progreso-nivel">
        <h3>Progreso del nivel</h3>
        <div class="flex-column progress-bar">
          <div class="nivel-porcentaje" style="display: flex; justify-content: space-between">
            <span><strong>Nivel intermedio</strong></span>
            <span><strong>75%</strong></span>
          </div>
          <div class="progress-bar-component"></div>
          <div class="puntos-faltantes">
            <span>Buen trabajo, necesitas 25 puntos mas para el siguiente nivel</span>
          </div>
        </div>
      </div>
      <div class="resumen-logros" (click)="isAchievementsModalVisible = modalToggler.showModal()">
        <div
          class="logros-header"
          style="
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1rem;
          "
        >
          <h3>Logros</h3>
          <span class="logros-completados">3/30</span>
        </div>
        <div class="logros-wrapper flex-column" style="gap: 1rem">
          <logro-preview></logro-preview>
          <logro-preview></logro-preview>
          <logro-preview></logro-preview>
        </div>
      </div>
    </div>
    <div class="rutinas-publicas">
      <h3 style="margin-bottom: 1rem; margin-top: 0.5rem">Rutinas públicas</h3>
      <div class="rutinas-publicas-grid">
        <feed-card></feed-card>
        <feed-card></feed-card>
        <feed-card></feed-card>
        <feed-card></feed-card>
        <feed-card></feed-card>
        <feed-card></feed-card>
      </div>
    </div>
  </div>
</div>
