<div class="flex-column wrapper">
  <cabecera titulo="Historial" descripcion="Comprueba tus progresos"></cabecera>
  <section class="rutinas-realizadas">
    <h3 style="margin-bottom: 1rem">Rutinas realizadas</h3>
    <div class="grid-container">
      <workout-card
        title="Entrenamiento de pierna"
        numberOfExercises="10"
        difficulty="Media"
        imgUrl="/routine-images/sentadilla_bulgara.jpg"
      ></workout-card>
      <workout-card
        title="Entrenamiento de espalda"
        numberOfExercises="8"
        difficulty="Experta"
        imgUrl="/routine-images/dominadas.jpg"
      ></workout-card>
      <workout-card
        title="Entrenamiento de triceps"
        numberOfExercises="10"
        difficulty="Media"
        imgUrl="/routine-images/fondos.jpg"
      ></workout-card>
    </div>
  </section>
  <section class="metas-completadas">
    <h3 style="margin-bottom: 1rem">Metas completadas</h3>
    <div class="grid-container">
      <meta-card></meta-card>
      <meta-card></meta-card>
      <meta-card></meta-card>
    </div>
  </section>
  <section class="metas-a-cumplir">
    <h3 style="margin-bottom: 1rem">Metas a cumplir</h3>
    <div class="grid-container">
      <meta-card></meta-card>
    </div>
  </section>
  <section class="notas-vinculadas">
    <h3 style="margin-bottom: 1rem">Notas vinculadas a este día</h3>
    <div class="grid-container">
      <div style="padding: 1.5rem">No tienes notas vinculadas a este día</div>
    </div>
  </section>
  <section class="logros-obtenidos">
    <h3 style="margin-bottom: 1rem">Logros obtenidos</h3>
    <div class="grid-container">
      <div style="padding: 1.5rem">No completaste ningún logro en esta fecha</div>
    </div>
  </section>
</div>
