.fecha-limite {
  gap: 0.5rem;
}

label {
  font-size: 0.8rem;
  color: var(--alternative-gray-font-color);
}

input[type='date'] {
  color: var(--alternative-gray-font-color);
}

input,
textarea {
  border-radius: var(--border-radius);
  padding: 0.5rem 1rem;
  border: 1px solid var(--border-color);
}

textarea {
  resize: none;
}
