<div class="exercise-section-root flex-column">
  <div class="current-exercise">
    <img src="https://static.exercisedb.dev/media/EcaV7aL.gif" alt="" />
  </div>
  <div class="interactive-section">
    <div class="exercise-name">PRESS BANCA</div>
    <div class="reps">x16</div>
    <button class="default-button done">HECHO</button>
  </div>
  <div class="skip-next-section">
    <button class="default-button" id="anterior">ANTERIOR</button>
    <button class="default-button" id="saltar">SALTAR</button>
  </div>
</div>
