<div class="flex-column meta-card">
  <div class="header-meta flex-between">
    <span>Perder peso</span>
    <span id="plazo">30 días</span>
  </div>
  <div class="desc">Objetivo de perdida de peso saludable</div>
  <div class="progreso flex-column">
    <div class="seguimiento-progreso flex-between">
      <span>Progreso</span>
      <span>3/5 kg</span>
    </div>
    <div class="progress-bar"></div>
  </div>
  <div class="porcentaje-iconos flex-between">
    <div class="porcentaje">60% completado</div>
    <div class="iconos" style="display: flex; gap: 0.5rem">
      <img src="/edit-delete-icons/icons8-edit-48.png" alt="edit-icon" />
      <img src="/edit-delete-icons/icons8-delete-50.png" alt="delete-icon" />
    </div>
  </div>
</div>
