<div class="agregar-ejercicio-root">
  <div class="flex-column agregar-ejercicio-componente">
    <div class="header">
      <h3>Agregar ejercicios</h3>
      <div class="close" (click)="onClose()">X</div>
    </div>
    <input type="text" placeholder="Busca un ejercicio..." />
    <div class="flex-column exercises-container">
      <div>Ejercicio 1</div>
      <div>Ejercicio 2</div>
      <div>Ejercicio 3</div>
      <div>Ejercicio 4</div>
      <div>Ejercicio 5</div>
      <div>Ejercicio 6</div>
      <div>Ejercicio 7</div>
    </div>
    <button class="default-button">Aceptar</button>
  </div>
</div>
