<div class="flex-column wrapper">
  <cabecera titulo="Mis rutinas" descripcion="Las mejores rutinas creadas por ti"></cabecera>
  <div class="grid">
    <workout-card
      title="Rutina personalizada 1"
      difficulty="Media"
      numberOfExercises="8"
    ></workout-card>
    <workout-card
      title="Rutina personalizada 2"
      difficulty="Difícil"
      numberOfExercises="9"
    ></workout-card>
    <workout-card
      title="Rutina personalizada 3"
      difficulty="Fácil"
      numberOfExercises="10"
    ></workout-card>
    <workout-card
      title="Rutina personalizada 4"
      difficulty="Media"
      numberOfExercises="12"
    ></workout-card>
    <workout-card
      title="Rutina personalizada 5"
      difficulty="Experta"
      numberOfExercises="15"
    ></workout-card>
    <workout-card
      title="Rutina personalizada 6"
      difficulty="Difícil"
      numberOfExercises="20"
    ></workout-card>
    <workout-card
      title="Rutina personalizada 7"
      difficulty="Fácil"
      numberOfExercises="15"
    ></workout-card>
    <workout-card
      title="Rutina personalizada 8"
      difficulty="Media"
      numberOfExercises="17"
    ></workout-card>
  </div>
</div>
