<div class="modal-wrapper root">
  <div class="modal-component flex-column modal-logro-card">
    <header>
      <button class="close-button" (click)="emitCloseEvent()">X</button>
    </header>
    <div class="flex-column info-logro">
      <img src="/achievements-icons/fire.png" alt="en-racha-logro" />
      <div class="nombre-logro">En racha</div>
      <div class="desc-logro">Entrena durante 7 días seguidos</div>
    </div>
    <div class="barra-progreso-wrapper flex-column">
      <div class="flex-between indicador-progreso">
        <span>Progreso</span>
        <span>100%</span>
      </div>
      <div class="progress-bar"></div>
    </div>
    <span class="estado-logro">Completado</span>
    <span class="fecha-desbloqueo blue-font-color">Obtenido el 15 sept 25</span>
  </div>
</div>
