<div class="wrapper">
  <cabecera
    titulo="Edición de publicación"
    descripcion="Edita los detalles de tu publicación"
  ></cabecera>
  <div class="editar-publicacion-wrapper flex-column" style="margin-top: 1rem">
    <div class="input-wrapper flex-column">
      <label for="" class="blue-font-color">Título de la publicación</label>
      <input type="text" placeholder="Editar el título de la publicación" />
    </div>
    <div class="input-wrapper flex-column">
      <label for="" class="blue-font-color">Descripción de la publicación</label>
      <textarea placeholder="Edita el cuerpo de tu publicación"></textarea>
    </div>
    <div class="input-wrapper flex-column">
      <label for="" class="blue-font-color">Selecciona la rutina que quieres compartir</label>
      <select>
        <option value="rutina-1">Rutina 1</option>
        <option value="rutina-2">Rutina 2</option>
        <option value="rutina-3">Rutina 3</option>
      </select>
    </div>
    <div class="buttons">
      <button class="default-button">Guardar cambios</button>
      <button class="default-button">Cancelar</button>
    </div>
  </div>
</div>
