<div class="feed-card flex-column">
  <div class="info-usuario">
    <div class="pfp">
      <img src="/stock-profile/drose.jpg" alt="user-pfp" />
    </div>
    <span>Usuario</span>
  </div>
  <div class="post-desc">Mi rutina personal sin equipo alguno.</div>
  <div class="preview-rutina flex-column">
    <span class="nombre-rutina blue-font-color">Rutina sin equipo</span>
    <span class="dificultad">Media</span>
    <div class="autor-detalles flex-column">
      <span class="autor">Creada por Usuario</span>
      <span class="calificacion">Calificación promedio: 4.5/5</span>
    </div>
    <button class="default-button">Ver</button>
  </div>
  <div class="opciones">
    <div class="iconos-opciones">
      <div>
        <img src="/feed-card-icons/icons8-add-50.png" alt="agregar-rutina-icono" />
      </div>
      <div (click)="onCommentClick()">
        <img src="/feed-card-icons/icons8-comments-48.png" alt="comentarios-icono" />
      </div>
      <div>
        <img src="/feed-card-icons/icons8-star-50.png" alt="calificar-icono" />
      </div>
    </div>
  </div>
  <div class="fecha-creacion">
    <span>15 sept 25 09:30 AM</span>
  </div>
</div>
