<div class="modal-wrapper">
  <div class="modal-component edit-profile-modal flex-column">
    <header class="flex-between">
      <h3 class="blue-font-color">Edición de perfil</h3>
      <button class="close-button" (click)="closeEditProfileModal()">X</button>
    </header>
    <section class="profile-images">
      <div class="foto-portada">
        <div class="pfp">
          <img src="/frog.jpg" alt="stock-pfp-drose" />
        </div>
      </div>
    </section>
    <div class="editable flex-column">
      <div class="info-editable flex-column">
        <h4>Nombre de usuario</h4>
        <input type="text" />
      </div>
      <div class="info-editable flex-column">
        <h4>Acerca de</h4>
        <textarea></textarea>
      </div>
    </div>
    <button class="default-button">Aplicar cambios</button>
  </div>
</div>
