<div class="comment-component">
  <div class="user-pfp">
    <img src="/stock-profile/drose.jpg" alt="stock-pfp" class="pfp-image" />
  </div>
  <div class="user-info flex-column">
    <span class="nombre-usuario">Usuario</span>
    <span class="comentario"
      >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam ab eos perferendis non
      nesciunt alias cum architecto recusandae? Ad cum placeat minus aspernatur atque praesentium
      recusandae neque obcaecati expedita laudantium. Lorem, ipsum dolor sit amet consectetur
      adipisicing elit. Mollitia illo dolorem debitis eum cupiditate ratione veritatis architecto
      ut! Tenetur quis necessitatibus corporis ab quae nemo impedit corrupti. Illo, voluptatibus
      tempora.</span
    >
    <div class="comment-date">15 sept 25</div>
  </div>
</div>
