<form action="" class="signup-form" [class.isVisible]="isVisible">
  <section>
    <h1>FITAPP</h1>
    <div class="frase">Inicio de sesión</div>
  </section>
  <section class="input-wrapper">
    <div>
      <label for="">Usuario</label>
      <input type="text" />
    </div>
    <div>
      <label for="">Contraseña</label>
      <input type="password" />
    </div>
    <div class="recordar" id="recordar">
      <div style="display: flex; gap: 0.5rem">
        <input type="checkbox" />
        <label for="">Mantener sesión iniciada</label>
      </div>
    </div>
  </section>
  <button type="submit" class="boton-registrar">Iniciar sesión</button>
  <div class="o">o</div>
  <div class="signup-options">
    <button>Google</button>
    <button>Facebook</button>
  </div>
  <span class="texto-login">¿No tienes una cuenta? <a routerLink="/signup">Regístrate</a></span>
  <span class="texto-login" style="text-align: center"><a>¿Olvidaste tu contraseña?</a></span>
</form>
