<div class="flex-column wrapper">
  <cabecera titulo="Mis favoritos" descripcion="Tus rutinas y ejercicios guardados"></cabecera>
  <div class="menu" style="margin-bottom: 1rem">
    <button class="rutinas">Rutinas (3)</button>
    <button class="ejercicios">Ejercicios (4)</button>
  </div>
  <div class="grid-favoritos">
    <workout-card
      title="Entrenamiento de pierna"
      numberOfExercises="10"
      difficulty="Media"
      imgUrl="/routine-images/sentadilla_bulgara.jpg"
    ></workout-card>
    <workout-card
      title="Entrenamiento de espalda"
      numberOfExercises="8"
      difficulty="Experta"
      imgUrl="/routine-images/dominadas.jpg"
    ></workout-card>
    <workout-card
      title="Entrenamiento de triceps"
      numberOfExercises="10"
      difficulty="Media"
      imgUrl="/routine-images/fondos.jpg"
    ></workout-card>
    <workout-card
      title="Entrenamiento de espalda baja"
      numberOfExercises="8"
      difficulty="Fácil"
      imgUrl="/routine-images/peso_muerto.jpeg"
    >
    </workout-card>
    <workout-card
      title="Entrenamiento de pierna"
      numberOfExercises="10"
      difficulty="Media"
      imgUrl="/routine-images/sentadilla_bulgara.jpg"
    ></workout-card>
    <workout-card
      title="Entrenamiento de espalda"
      numberOfExercises="8"
      difficulty="Experta"
      imgUrl="/routine-images/dominadas.jpg"
    ></workout-card>
    <workout-card
      title="Entrenamiento de triceps"
      numberOfExercises="10"
      difficulty="Media"
      imgUrl="/routine-images/fondos.jpg"
    ></workout-card>
    <workout-card
      title="Entrenamiento de espalda baja"
      numberOfExercises="8"
      difficulty="Fácil"
      imgUrl="/routine-images/peso_muerto.jpeg"
    >
    </workout-card>
  </div>
</div>
