<div class="menu-movil flex-column">
  <div class="menu-movil-interno flex-column">
    <div class="menu-movil-header">
      <h2>Secciones</h2>
      <div class="close-button">X</div>
    </div>
    <div class="secciones-principales flex-column">
      <div>Home</div>
      <div>Estadísticas</div>
      <div>Mis rutinas</div>
      <div>Metas</div>
      <div>Notas</div>
      <div>Perfil</div>
      <div>Logros</div>
      <div>Favoritos</div>
      <div>Historial</div>
    </div>
    <div>Cerrar sesión</div>
  </div>
</div>
