<div class="navbar-wrapper">
  <div style="display: none" class="title">
    <h1>FITAPP</h1>
    <div class="hamburger-button" (click)="mostrarMenu()">
      <img src="icons8-hamburger-menu-50.png" alt="" />
    </div>
  </div>
  <div class="icons-wrapper flex-column">
    <div class="icons flex-column">
      <div>
        <img src="images/navbar-icons/icons8-home-50.png" alt="" />
      </div>
      <div (click)="toStats()">
        <img src="images/navbar-icons/icons8-statistics-60.png" alt="" />
      </div>
      <div (click)="toMyRoutines()">
        <img src="images/navbar-icons/icons8-dumbell-64(1).png" alt="" />
      </div>
      <div (click)="toGoals()">
        <img src="images/navbar-icons/icons8-goal-50.png" alt="" />
      </div>
      <div (click)="toNotes()">
        <img src="images/navbar-icons/icons8-notes-50.png" alt="" />
      </div>
      <div (click)="toProfile()">
        <img src="images/navbar-icons/icons8-profile-52.png" alt="" />
      </div>
      <div (click)="toAchievements()">
        <img src="images/navbar-icons/icons8-trophy-52.png" alt="" />
      </div>
      <div (click)="toFavorites()">
        <img src="images/navbar-icons/icons8-heart-52.png" alt="" />
      </div>
      <div>
        <img src="images/navbar-icons/icons8-history-52.png" alt="" />
      </div>
    </div>
    <div class="logout-button" (click)="logout()">
      <img src="images/navbar-icons/icons8-log-out-64.png" alt="" />
    </div>
  </div>
</div>
