<div class="modal-wrapper">
  <div class="modal-component flex-column">
    <header class="flex-between">
      <h3 class="blue-font-color">Notas vinculadas a esta rutina</h3>
      <button class="close-button">X</button>
    </header>
    <div class="notas-vinculadas-grid">
      <note-card></note-card>
      <note-card></note-card>
      <note-card></note-card>
      <note-card></note-card>
      <note-card></note-card>
      <note-card></note-card>
      <note-card></note-card>
      <note-card></note-card>
    </div>
  </div>
</div>
