<div class="modal-wrapper">
  <div class="modal-component calificar-component flex-column">
    <header class="flex-between">
      <h3 class="blue-font-color">Califica esta rutina</h3>
      <button class="close-button" (click)="closeClick()">X</button>
    </header>
    <div class="calificar flex-column">
      <span>Califica esta rutina en una escala del 0 al 5</span>
      <select>
        <option value="0">0</option>
        <option value="0.5">0.5</option>
        <option value="1">1</option>
        <option value="1">1.5</option>
        <option value="2">2</option>
        <option value="2">2.5</option>
        <option value="3">3</option>
        <option value="3.5">3.5</option>
        <option value="4">4</option>
        <option value="4.5">4.5</option>
        <option value="5">5</option>
      </select>
    </div>
    <button class="default-button">Calificar</button>
  </div>
</div>
