<div class="modal-wrapper">
  <div class="modal-component ayuda-ejercicio flex-column">
    <header class="flex-between">
      <h3 class="blue-font-color exercise-name">Press banca</h3>
      <button class="close-button">X</button>
    </header>
    <div class="exercise-gif">
      <img src="https://static.exercisedb.dev/media/EcaV7aL.gif" alt="" />
    </div>
    <div class="barra-opciones" id="barra-opciones">
      <button id="musculos-trabajados" class="musculos-trabajados">Músculos trabajados</button>
      <button id="instrucciones" class="instrucciones">Instrucciones</button>
    </div>
    <div class="area-de-enfoque">
      <h3 class="blue-font-color mb-half">Área de enfoque</h3>
      <div class="span-wrapper">
        <span>Pecho</span>
      </div>
    </div>
    <div class="musculos flex-column">
      <h3 class="blue-font-color">Músculos trabajados</h3>
      <div class="musculos-principales">
        <h4 class="mb-half">Músculos principales</h4>
        <div class="span-wrapper">
          <span>Pectorales</span>
        </div>
      </div>
      <div class="musculos-secundarios">
        <h4 class="mb-half">Músculos secundarios</h4>
        <div class="span-wrapper">
          <span>Tríceps</span>
          <span>Hombros</span>
        </div>
      </div>
    </div>
    <div class="equipamiento">
      <h3 class="blue-font-color mb-half">Equipamiento</h3>
      <div class="equipamiento necesario span-wrapper">
        <span>Barra</span>
      </div>
    </div>
  </div>
</div>
