input {
  border: none;
  background-color: var(--border-color);
  padding: calc(var(--padding) * 0.75);
  border-radius: var(--border-radius);
  transition: flex 400ms ease-out 0s;
}

.notas-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(350px, 100%), 1fr));
  gap: 1rem;
}

.buscar-agregar {
  display: flex;
  margin-bottom: 1rem;
  gap: 1rem;
}

#default-button {
  border-radius: 100%;
  padding: 0.5rem 1rem;
  font-size: large;
}

input:focus {
  flex: 1;
}
