<expandir-nota
  (close)="expandNote = modalToggler.closeModal()"
  [class.isVisible]="expandNote"
></expandir-nota>
<modal-notas
  (close)="isNotesModalVisible = modalToggler.closeModal()"
  [class.isVisible]="isNotesModalVisible"
></modal-notas>
<div class="flex-column wrapper">
  <cabecera titulo="Notas" descripcion="Registra tus progresos y tus pensamientos"></cabecera>
  <div class="buscar-agregar">
    <input type="text" placeholder="Buscar en tus notas..." />
    <button
      class="default-button"
      id="default-button"
      (click)="isNotesModalVisible = modalToggler.showModal()"
    >
      +
    </button>
  </div>
  <div class="notas-grid">
    <note-card (click)="expandNote = modalToggler.showModal()"></note-card>
    <note-card></note-card>
    <note-card></note-card>
    <note-card></note-card>
    <note-card></note-card>
    <note-card></note-card>
    <note-card></note-card>
    <note-card></note-card>
    <note-card></note-card>
  </div>
</div>
