<div class="nota-expandida-modal modal-wrapper">
  <div class="nota-expandida-componente modal-component flex-column">
    <header class="flex-between">
      <h3 class="titulo-nota blue-font-color">Progreso en press de banca</h3>
      <button class="close-button" (click)="closeExpandedNote()">X</button>
    </header>
    <div class="descripcion-nota">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, numquam fuga nemo corporis,
      voluptates quos pariatur cum sunt nam error delectus accusamus recusandae libero distinctio,
      nisi velit dolores beatae animi. Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      Maxime omnis cumque numquam laboriosam praesentium veritatis placeat unde consectetur tempora
      dolorem maiores assumenda, mollitia adipisci expedita doloremque incidunt, facere eaque earum.
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia autem facere doloribus ullam
      sint nesciunt quis fugit illum, ea, provident enim beatae deleniti in dolore maiores neque
      asperiores qui cupiditate! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa
      voluptate aperiam doloremque non ducimus provident est veniam quaerat quod. Ex sapiente
      numquam at deleniti consequuntur nobis labore aliquam similique pariatur. Lorem ipsum dolor
      sit amet consectetur adipisicing elit. Officiis illo dolor nisi quo eum omnis non. Fuga, sint?
      Modi totam, iure eum dicta quibusdam alias cumque ratione adipisci architecto nemo.
    </div>
    <div class="fecha-creacion">
      <span>12 sept 2025</span>
    </div>
    <div class="fecha-ultima-modificacion">
      Última edición: <span class="blue-font-color">15 sept 25 09:30 AM</span>
    </div>
  </div>
</div>
