<routine-preview
  [FullscreenOverlay]="isRoutinePreviewVisible"
  (close)="isRoutinePreviewVisible = modalToggler.closeModal()"
></routine-preview>
<modal-calificar
  [FullscreenOverlay]="isRatingModalVisible"
  (close)="isRatingModalVisible = modalToggler.closeModal()"
></modal-calificar>
<modal-comentarios
  [FullscreenOverlay]="isCommentsModalVisible"
  (closeButtonClick)="isCommentsModalVisible = modalToggler.closeModal()"
></modal-comentarios>
<div class="wrapper flex-column">
  <cabecera
    titulo="Feed"
    descripcion="Explora, califica y agrega rutinas de otros usuarios"
  ></cabecera>
  <div class="feed-grid">
    <feed-card
      (clickComment)="isCommentsModalVisible = modalToggler.showModal()"
      (clickRoutine)="isRatingModalVisible = modalToggler.showModal()"
      (clickView)="isRoutinePreviewVisible = modalToggler.showModal()"
    ></feed-card>
    <feed-card></feed-card>
    <feed-card></feed-card>
    <feed-card></feed-card>
    <feed-card></feed-card>
    <feed-card></feed-card>
    <feed-card></feed-card>
    <feed-card></feed-card>
  </div>
</div>
