<modal-calificar
  [FullscreenOverlay]="isRatingModalVisible"
  (close)="isRatingModalVisible = modalToggler.closeModal()"
></modal-calificar>
<modal-comentarios
  [FullscreenOverlay]="isCommentsModalVisible"
  (closeButtonClick)="isCommentsModalVisible = modalToggler.closeModal()"
></modal-comentarios>
<div class="wrapper flex-column">
  <cabecera
    titulo="Feed"
    descripcion="Explora, califica y agrega rutinas de otros usuarios"
  ></cabecera>
  <div class="feed-grid">
    <feed-card></feed-card>
    <feed-card></feed-card>
    <feed-card></feed-card>
    <feed-card></feed-card>
    <feed-card></feed-card>
    <feed-card></feed-card>
    <feed-card></feed-card>
    <feed-card></feed-card>
  </div>
</div>
