#profile-wrapper {
  padding: 0;
  margin-left: 83px;
}

h3 {
  font-weight: var(--semi-bold);
}

.foto-portada {
  background-color: black;
  position: relative;
  height: 192px;
}

.foto-perfil {
  width: 175px;
  height: 175px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(calc(192px / 2));
  margin-left: 2rem;
  border-radius: 100%;
}

.foto-perfil > img {
  height: 100%;
  border-radius: 100%;
  object-fit: cover;
}

.user-info {
  margin: calc(175px / 2) 1.5rem 1.5rem 1.5rem;
  gap: 0.75rem;
}

#miembro-racha {
  padding: 0;
  text-align: center;
}

.nivel-wrapper {
  display: flex;
  gap: 0.5rem;
}

.nivel-wrapper > * {
  font-size: 1;
}

.nombre-usuario > h2 {
  font-size: 2rem;
}

.nivel {
  background-color: var(--medium-level-color);
  color: var(--secondary-color);
  padding: 0.25rem 1.25rem;
  border-radius: var(--border-radius);
  display: grid;
  place-items: center;
  font-weight: var(--semi-bold);
}

.nivel + * {
  padding: 0.25rem 5rem;
  font-size: 1rem;
}

.profile-grid,
.rutinas-publicas-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%), 1fr));
  gap: 1rem;
}

.bio {
  padding: 1.5rem;
  max-width: 75ch;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  overflow-wrap: break-word;
}

.bio > h3 {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.bio > p {
  line-height: 1.3;
  font-size: 0.8rem;
  color: var(--alternative-gray-font-color);
}

.profile-grid > *,
.rutinas-publicas-grid > * {
  padding: 2rem;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}

.informacion-personal,
.progreso-nivel {
  gap: 1.5rem;
}

.altura,
.peso {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.puntos-faltantes > span {
  color: var(--alternative-gray-font-color);
  font-size: 0.85rem;
}

.progress-bar-component {
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  padding: 0.75rem;
}

.progress-bar {
  gap: 1rem;
}

.logros-completados {
  padding: 0.5rem;
  border-radius: var(--border-radius);
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-weight: var(--semi-bold);
}

.descripcion,
.fecha-desbloqueo {
  color: var(--alternative-gray-font-color);
  font-size: 0.85rem;
}

.more-icon {
  border-radius: var(--border-radius);
  cursor: pointer;
  position: relative;
  display: grid;
  place-items: center;
}

.more-icon > img {
  width: 30px;
  height: 30px;
}

#nivel {
  padding: 0.5rem;
}

.opciones > *:hover {
  background-color: lightgray;
}

.opciones {
  position: absolute;
  box-shadow: var(--box-shadow);
  border-radius: 1rem;
}

.opciones > * {
  background-color: var(--secondary-color);
  font-weight: bold;
  padding: 0.75rem 2rem;
  cursor: pointer;
}

.opciones > button {
  border-radius: 0;
}

.miembro-racha {
  display: flex;
  gap: 0.5rem;
  font-weight: bold;
}

.miembro-racha > * {
  display: grid;
  place-items: center;
  padding: 0.75rem;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}

.peso-input,
.altura-input {
  border: none;
  border-bottom: 1px solid var(--border-color);
}

@media (width <= 768px) {
  #profile-wrapper {
    margin-left: 0;
  }

  .user-info {
    margin: calc(150px / 2) 1.5rem 1.5rem 1.5rem;
  }

  .foto-portada {
    height: 140px;
  }

  .foto-perfil {
    width: 150px;
    height: 150px;
    transform: translateY(calc(140px / 2));
  }
}

@media (width <= 500px) {
  .user-info {
    margin: calc(125px / 2) 1.5rem 1.5rem 1.5rem;
  }

  .foto-portada {
    height: 115px;
  }

  .foto-perfil {
    width: 125px;
    height: 125px;
    transform: translateY(calc(115px / 2));
  }

  .miembro-racha > * {
    flex: 1;
  }
}
