<div class="modal-wrapper">
  <div class="modal-component">
    <header class="flex-between" style="margin-bottom: 1rem">
      <h3 class="blue-font-color">Cambiar contraseña</h3>
      <button class="close-button">X</button>
    </header>
    <div class="flex-column cambiar-usuario-wrapper">
      <input type="text" placeholder="Contraseña actual" />
      <input type="text" placeholder="Nueva contraseña" />
      <button class="default-button">Cambiar usuario</button>
    </div>
  </div>
</div>
