.grid-logros {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.logros-completados {
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: var(--padding);
  color: var(--primary-color);
  font-weight: bold;
}

.numero-logros-completados {
  color: #000;
  font-weight: 500;
  font-size: var(--h1-font-size);
}
