<div class="root-final-rutina flex-column">
  <div class="flex-column header" style="gap: 1rem">
    <h3 class="blue-font-color">Felicitaciones</h3>
    <span>Haz completado tu rutina</span>
    <span class="mensaje-motivacional">Sigue así</span>
  </div>
  <div class="badge-wrapper">
    <img src="/badge/badge.png" alt="" />
  </div>
  <div class="stats flex-column" style="gap: 1rem">
    <div class="duracion icon">
      <img src="/iconos-final-rutina/icons8-clock-50.png" alt="clock" />
      <span>Duración: <span class="blue-font-color">30:03</span></span>
    </div>
    <div class="calorias-quemadas icon">
      <img src="/iconos-final-rutina/icons8-fire-50.png" alt="" />
      <span>Calorías quemadas: <span class="blue-font-color">754</span></span>
    </div>
    <div class="puntos-ganados icon">
      <img src="/iconos-final-rutina/icons8-100-50.png" alt="" />
      <span>Puntos ganados: <span class="blue-font-color">25</span></span>
    </div>
  </div>
  <button class="default-button" style="width: 100%; max-width: 400px">Aceptar</button>
</div>
