.bienvenida {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.home-page-root {
  position: relative;
}

.foto-perfil {
  width: 100px;
  height: 100px;
  margin: 1rem 0;
}

.rutinas-metas-populares {
  gap: 1rem;
}

.foto-perfil > img {
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
}

.mensaje-bienvenida {
  font-weight: var(--semi-bold);
  font-size: 1.75rem;
}

h2,
h3 {
  font-weight: var(--semi-bold);
}

.mensaje-bienvenida > span {
  color: var(--primary-color);
}

.foto-perfil > img {
  object-fit: cover;
}

.grupos-musculares-principales {
  display: flex;
  gap: 1rem;
  overflow-x: scroll;
  scrollbar-width: none;
}

.grupos-musculares-principales > * {
  flex: 1;
}

.grupos-musculares-principales button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  border-radius: var(--border-radius);
  padding: 0.5rem 1rem;
  font-weight: var(--semi-bold);
  cursor: pointer;
}

.rutinas-musculo {
  gap: 1rem;
}

.rutina {
  display: flex;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}

.img-wrapper {
  width: 100px;
}

.img-wrapper > img {
  border-radius: var(--border-radius);
  object-fit: cover;
  height: 100%;
}

.right {
  flex: 1;
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
}

.dificultad-ejercicios {
  gap: 0.5rem;
  font-weight: var(--semi-bold);
}

.dificultad-ejercicios span {
  font-size: 0.85rem;
}

.iconos {
  display: flex;
  gap: 1rem;
}

.iconos > * {
  width: 20px;
  height: 20px;
}

.musculo-seleccionado,
.entrenamiento {
  gap: 1rem;
}

.labels {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.gray-outline-button {
  border: none;
  padding: 0.25rem 0.5rem;
  border-radius: var(--border-radius);
  background-color: var(--secondary-color);
  border: 1px solid var(--border-color);
}

.labels > button {
  flex: 1;
}

.metas-populares {
  gap: 1rem;
}

.metas-populares-labels {
  display: flex;
  gap: 1rem;
}

.crear-rutina {
  padding: 1rem;
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  color: var(--secondary-color);
  gap: 0.75rem;
}

.crear-rutina div > button {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-weight: bold;
  border-radius: 1rem;
  border: none;
  padding: 0.5rem 1rem;
}

.programas-ejercicios-slider {
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
  gap: 1rem;
}

.programas-ejercicios-slider > * {
  flex: 1;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  padding: 1rem;
}

.programas-ejercicio {
  gap: 1rem;
}

@media (width >= 768px) {
  .foto-perfil {
    width: 175px;
    height: 175px;
  }

  .iconos > * {
    width: 30px;
    height: 30px;
  }

  .dificultad-ejercicios span {
    font-size: 1rem;
  }
}
